body{
    background-image: url("../images/swirl_patternBackground.png")
}
/*header*/
.headerContainer{
    position: relative;
    margin:0;
    width: 100%;
    background-color: #ffffff;
    border-bottom: 1px solid #cccccc;
    height: 100px;
}
/*Name at top of page*/
h1{
    position: absolute;
    bottom: 0;
    left: 12%;
    margin-bottom: 0;
    color: #ffffff;
    background-color: #4aaaa5;
    font-family: 'Georgia', Times, 'Times New Roman', serif;
    font-size: 28px;
    padding: 20px;
    width: 200px;
}
/*links*/
a{
    float: right;
    margin-right: 20px;
    padding-top: 45px;
}
#contactLink{
    margin-right: 150px;
}
/*container to create page header and body as one, make sure to center it*/
.container{
    margin: auto;
    margin-top: 30px;
    margin-bottom: 50px;
    background-color: #ffffff;
    border: 3px solid #dddddd;
    width: 960px;
}
/*Page title*/
h2{
    color: #4aaaa5;
    background-color: #ffffff;
    border-color: #cccccc;
    font-size: 28px;
    border-bottom: 1px solid #cccccc;
    padding-bottom: 20px;
    padding-top: 20px;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-right: 20px;
    margin-left: 20px;
    font-family: 'Georgia', Times, 'Times New Roman', serif;
}
/*portfolio images*/
.portfolioImage{
    position: relative;
    margin: 20px;
    width: 20%;
    float: left;
}
/*should clear the float*/
.clearfix::after {
    content: " ";
    display: block;
    clear: both;
  }   
/*boxes to label portfolio pieces*/
h3{
    position: absolute;
    left: 0;
    bottom: 10%;
    color: #ffffff;
    background-color: #4aaaa5;
    font-family: 'Georgia', Times, 'Times New Roman', serif;
    font-weight: normal;
    font-size: 18px;
    text-align: center;
    padding-top: 10px;
    padding-bottom: 10px;
    width: 200px;
}
/*paragraph on the main index*/
p{
    color: #777777;
    background-color: #ffffff;
    font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
    margin: 20px;
    line-height: 2;
}
/*Contact box on contact page*/
form{
    color: #777777;
    background-color: #ffffff;
    font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
    margin-left: 20px;
    margin-right: 20px;
}
/*Input boxes on contact page for name and email*/
input[type="text"]{
    width: 100%;
    margin-bottom: 20px;
}
/*Input box for message on contact page*/
#messageInput{
    padding-bottom: 200px;
    box-sizing: border-box;
}
/*Submit button on contact page*/
#submitButton{
    color: #ffffff;
    background-color: #4aaaa5;
    border: none;
    padding: 8px 20px 8px 20px;
    margin-bottom: 20px;
    font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
}
img{
    width: 200px;
}
/*Personal image on front page*/
#bio-image{
    position: relative;
    float: left;
    width: 200px;
    margin: 20px;
}
/*Format links for page direction*/
a{
    font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
    color: #777777;
    text-decoration: none;
}
/*Everything but the footer*/
html, body{
    height: 100%;
    margin: 0;
}
.wrapper{
    min-height: 100%;
    margin-bottom: -10px;
}
/*Footer for bottom of page*/
.footer{
    margin: 0;
    background-color: #666666;
    font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
    font-size: 8px;
    color: #cccccc;
    text-align: center;
    border-top: 8px solid #4aaaa5;
    height: 10px;
    width: 100%;
    padding-top: 25px;
}
.push{
    height: 10px;
}